@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --primaryFilter: brightness(0) saturate(100%) invert(52%) sepia(16%)
    saturate(514%) hue-rotate(173deg) brightness(92%) contrast(90%);
  --secondaryFilter: brightness(0) saturate(100%) invert(100%) sepia(67%)
    saturate(266%) hue-rotate(84deg) brightness(109%) contrast(101%);
}
*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Manrope", sans-serif;
}
picture {
  display: block;
}
img,
svg {
  width: 100%;
}
span {
  display: block;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeEffect {
  animation: fadeInAnimation ease 0.5s;
  animation-fill-mode: forwards;
}
